<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This version uses the openai_ros environments -->
    <include file="$(find bwi_launch)/launch/openai_gym.launch" />

    <!-- Launch the training system -->
    <node pkg="bwi_segbot_hallway" name="segbot_collision_avoid" type="model_train.py" output="screen"/>

</launch>

